body {
    text-align : center;
    background : whitesmoke;
}

.title {
    text-align : center;
    width : 100%;
    margin-bottom: 3%;
    padding-top : 20px;
    font-size : 2rem;
}
.caption {
    margin-bottom : 20px;
}

#regions_div {
    margin-bottom : 5%;
    height : 30rem;
}

.buttonSelection{
    margin-bottom : 8%;
}